#[gcode_shell_command LIGHT_OFF]
#command: sudo usbrelay A0001_2=0
#timeout: 2.
#verbose: True
#[gcode_macro LIGHT_OFF]
#gcode:
#    RUN_SHELL_COMMAND CMD=LIGHT_OFF

#[gcode_shell_command LIGHT_ON]
#command: sudo usbrelay A0001_2=1
#timeout: 2.
#verbose: True
#[gcode_macro LIGHT_ON]
#gcode:
#    RUN_SHELL_COMMAND CMD=LIGHT_ON    


#[gcode_shell_command PI_FAN_OFF]
#command: sudo usbrelay A0001_1=0
#timeout: 2.
#verbose: True
#[gcode_macro PI_FAN_OFF]
#gcode:
#    RUN_SHELL_COMMAND CMD=PI_FAN_OFF

#[gcode_shell_command PI_FAN_ON]
#command: sudo usbrelay A0001_1=1
#timeout: 2.
#verbose: True
#[gcode_macro PI_FAN_ON]
#gcode:
#    RUN_SHELL_COMMAND CMD=PI_FAN_ON    

[gcode_shell_command CREATE_X_PNG]
command: ~/klipper/scripts/calibrate_shaper.py /tmp/resonances_x_*.csv -o /tmp/shaper_calibrate_x.png
verbose: True
#[gcode_macro CREATE_X_PNG]
#gcode:
    # RUN_SHELL_COMMAND CMD=CREATE_X_PNG

[gcode_shell_command CREATE_Y_PNG]
command: ~/klipper/scripts/calibrate_shaper.py /tmp/resonances_y_*.csv -o /tmp/shaper_calibrate_y.png
verbose:True
#[gcode_macro CREATE_Y_PNG]
#gcode:
   # RUN_SHELL_COMMAND CMD=CREATE_Y_PNGE


[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True